.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: all ease-in-out .3s;
}

.sidebarRow__icon {
    color: #606060;
    font-size: large !important;
    transition: all ease-in-out .3s;
}

.sidebarRow__title {
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
    transition: all ease-in-out .3s;
}

.sidebarRow:hover{
    background-color: lightgray;
    cursor: pointer;
}

.sidebarRow:hover > .sidebarRow__icon {
    color: red;
    transform: scale(1.2);
}

.sidebarRow:hover > .sidebarRow__title {
    font-weight: bold;
}

.sidebarRow__selected {
    background-color: lightgray;
}

.sidebarRow__selected > .sidebarRow__icon {
    color: red;
}

.sidebarRow__selected > .sidebarRow__title {
    font-weight: bold;
}